.text-center {
    text-align: center !important;
}

.disabled {
    color: #fff;
}

.manage-users-container {
    margin: 0px 100px;
}

.table-header {
    border-bottom: 1px solid #cccccc;
}

.table-header > td {
    padding: 10px 0px 10px 5px;
}

.user-table {
    width: 800px;
    margin: 0px auto;
}