.text-center {
    text-align: center !important;
}

.disabled {
    color: #fff;
}

.manage-users-container {

}

.table-header {
    border-bottom: 1px solid #cccccc;
}

.table-header > td {
    padding: 10px 0px 10px 5px;
}

.user-table {
    width: 800px;
    margin: 0px auto;
}

.add-new-user-button > button {
    background-color: green;
}

.add-new-user-button {
    width: 800px;
    margin: 0px auto;
    text-align: left;
}